In [1]:
import pandas
from geopy.geocoders import ArcGIS

In [2]:
lib_loc = pandas.read_csv("Libraries.csv")
lib_loc

,X,Y,OBJECTID,ADDRESS,LONG_NAME,SHORT_NAME
0,-89.517676,43.076014,522,733 N High Point Rd,Alicia Ashman Branch Library,Alicia Ashman
1,-89.478674,43.032475,523,5726 Raymond Rd,Meadowridge Branch Library,Meadowridge
2,-89.395446,43.040750,524,2222 S Park St,Goodman South Madison Branch Library,South Madison
3,-89.415202,43.065933,525,1705 Monroe St,Monroe Street Brach Library,Monroe Street
4,-89.387530,43.073581,526,201 W Mifflin St,Central Library,Central
5,-89.362311,43.127664,527,2845 N Sherman Ave,Lakeview Branch Library,Lakeview
6,-89.345047,43.101924,528,2707 E Washington Ave,Hawthorne Brach Library,Hawthorne
7,-89.323769,43.084617,529,204 Cottage Grove Rd,Pinney Branch Library,Pinney
8,-89.450398,43.053893,530,4340 Tokay Blvd,Sequoya Branch Library,Sequoya
9,-89.424241,43.002241,531,5530 Lacy Rd,Fitchburg Public Library,Fitchburg
10,-89.288163,43.013547,532,5920 Milwaukee St,McFarland Public Library,McFarland
11,-89.509303,43.094906,533,7425 Hubbard Ave,Middleton Public Library,Middleton
12,-89.340745,43.062903,534,1000 Nichols Rd,Monona Public Library,Monona
13,-89.235518,43.175664,535,1350 Linnerud Dr,Sun Prairie Public Library,Sun Prairie
14,-89.528063,42.997376,536,500 Silent St,Verona Public Library,Verona
15,-89.455914,43.184939,537,710 South St,Waunakee Public Library,Waunakee

In [3]:
lib_loc.iloc[:, 0:2]

            X          Y
0  -89.517676  43.076014
1  -89.478674  43.032475
2  -89.395446  43.040750
3  -89.415202  43.065933
4  -89.387530  43.073581
5  -89.362311  43.127664
6  -89.345047  43.101924
7  -89.323769  43.084617
8  -89.450398  43.053893
9  -89.424241  43.002241
10 -89.288163  43.013547
11 -89.509303  43.094906
12 -89.340745  43.062903
13 -89.235518  43.175664
14 -89.528063  42.997376
15 -89.455914  43.184939