In [1]:
import pandas

In [2]:
hsdict = {'Name': ['Memorial High', 'West High', 'East High', 'Lafollette High', 'Middleton High'],
         'Latitude': [43.064065, 43.069130, 43.097832, 43.063303, 43.100286],
         'Longitude': [-89.500890, -89.425793, -89.354269, -89.319177, -89.507037],
         'College Readiness Index': [37.1, 34.4, 29.2, 21.6, 55.3],
         'Graduation Rate': [89, 93, 81, 84, 93]}

In [3]:
hstable = pandas.DataFrame(hsdict)

In [4]:
hstable

,Name,Latitude,Longitude,College Readiness Index,Graduation Rate
0,Memorial High,43.064065,-89.500890,37.1,89
1,West High,43.069130,-89.425793,34.4,93
2,East High,43.097832,-89.354269,29.2,81
3,Lafollette High,43.063303,-89.319177,21.6,84
4,Middleton High,43.100286,-89.507037,55.3,93

In [5]:
hstable.to_csv("Madison Highschool.csv", encoding = 'utf-8', index = False)